<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Eventos</title>
</head>
<body>

	<div id="cabecalho" class="page-header" th:fragment="cabecalho">
		<header>
			<div class="container">
				<h1>Eventos</h1>
			</div>
		</header>
	</div>

	<div id="menu" th:fragment="menu">
		<nav>
			<div class="container">
				<ul>
					<li><a href="#" th:href="@{/}">Início</a></li>
					<li sec:authorize="hasRole('ROLE_ADMIN')" ><a href="#" th:href="@{/noticias}">Notícias</a></li>
					<li sec:authorize="hasRole('ROLE_USER')"><a href="#" th:href="@{/programacao}">Programação</a></li>
					<li sec:authorize="hasRole('ROLE_AVALIADOR')"><a href="#" th:href="@{/regulamentos}">Regulamentos</a></li>
					
					<li sec:authorize="hasRole('ADMIN')"><a href="#" th:href="@{/admin/usuarios}">Lista de
							Usuários</a></li>
							
					<li sec:authorize="!isAuthenticated()"><a href="#" th:href="@{/login}">Login</a></li>
					<li sec:authorize="isAuthenticated()">
<!-- 						<a href="#" th:href="@{/logout}">Sair</a> -->
						<form action="/logout" method="post">
							<button type="submit">Sair</button>
							<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
						</form>
					</li>
				</ul>
			</div>
		</nav>
	</div>


	<div id="rodape" th:fragment="rodape">
		<footer class="page-footer">
			<!-- 			<div class="footer-copyright"> -->
			<div class="container">
				<p>Biblioteca&copy;, por Prof. Fernando Soares</p>
			</div>
			<!-- 			</div> -->
		</footer>
	</div>

</body>
</html>